<nav>
    <div>
        <partial name="_HeadingTitle.cshtml" />
        <a asp-action="Login" asp-controller="Account" type="button">
            Login
            <i class="fas fa-arrow-right-to-bracket"></i>
        </a>
    </div>
</nav>
