@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<section">
    <div>
        <partial name="/Views/Shared/_HeadingTitle.cshtml" />
        <div>
            <div>
                @RenderBody()
            </div>
        </div>
    </div>
</section>