@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_AccountLayout";
}

<h2>
    Change Password
</h2>
<form asp-action="ResetPassword" method="post">
    <div>
        <label for="email">Your email</label>
        <input type="email" name="email" id="email" placeholder="name@address.com" required="">
    </div>
    <button type="submit">Reset passwod</button>
</form>