@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_AccountLayout";
}

<h1>
    Sign in to your account
</h1>
<form asp-action="Login" metohd="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Email" ></label>
        <input asp-for="Email" placeholder="name@address.com" required="">
    </div>
    <div>
        <label asp-for="Password" ></label>
        <input asp-for="Password" placeholder="••••••••" required="">
    </div>
    <div>
        <div>
            <div >
                <input asp-for="RememberMe">
            </div>
            <div>
                <label asp-for="RememberMe"></label>
            </div>
        </div>
        <a asp-action="ForgotPassword" >Forgot password?</a>
    </div>
    <button type="submit">Sign in</button>
    <p >
        Don’t have an account yet? <a asp-action="Register">Sign up</a>
    </p>
</form>