@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "_AccountLayout";
}

<h1>
    Create an account
</h1>
<form asp-action="Register" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" placeholder="John Doe" required="">
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" placeholder="name@address.com" required="">
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" placeholder="••••••••" required="">
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" placeholder="••••••••" required="">
    </div>
    <div class="flex items-start">
        <div class="flex items-center h-5">
            <input asp-for="TermsAndConditions" required="">
        </div>
        <div class="ml-3 text-sm">
            <label asp-for="TermsAndConditions">I accept the <a href="#">Terms and Conditions</a></label>
        </div>
    </div>
    <button type="submit">Create an account</button>
    <p class="text-sm font-light">
        Already have an account? <a asp-action="Login">Login here</a>
    </p>
</form>
