@model DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div>
    <div>
        <div>
            <i class="fas fa-users fa-5x"></i>
            <div>
                <p>Registered Users</p>
                <p>@Model.Users.Count()</p>
            </div>
        </div>
    </div>
    <div>
    </div>
    <div>
    </div>
</div>
